
.track {
  --size: 500px;

  height: var(--size);
  width: 100%;
  position: relative;
  overflow: hidden;

  -webkit-mask: radial-gradient(
      #0000 0 30%,
      #000 30.5%
    )
    50% calc(var(--size) * 0.5) / 300% 100%;
  mask: radial-gradient(
      #0000 0 30%,
      #000 30.5%
    )
    50% calc(var(--size) * 0.5) / 300% 100%;
}


.maskClip {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.marquee {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee 40s linear infinite;
  will-change: transform;
}

.track:hover .marquee {
  animation-play-state: paused;
}

.marqueeGroup {
  display: flex;
  gap: 2rem;
}


.card {
  height: 500px;
  width: 500px;
  flex-shrink: 0;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

/* IMAGE */
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: -1rem;
}

.learnMore {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0%;
  transform: translateY(12px);
    margin-bottom: 6rem;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .cardImage {
  transform: scale(1.08);
}

.card:hover .learnMore {
  opacity: 100;
  transform: -translateY(24px);
}



@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 768px) {
  .card {
    width: 80vw;
  }

  .marquee {
    animation-duration: 40s;
  }
}
