@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --bg_primary: #F7EDFE;
  --bg_secondary: #FBF7FE;

  --t_primary:#402060;
  --t_secondary:#8E4EC6;

  --primary: #402060;
  --secondary: #8E4EC6;
  --axcend:#EAD5F9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-primary: var(--bg_primary);
  --color-bg-secondary: var(--bg_secondary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-t-primary: var(--t_primary);
  --color-t_secondary: var(--t_secondary);
  --color-axcend: var(--axcend);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0f0a14;      
  --foreground: #F5EEFA;       
  --bg_primary: #1a1124;     
  --bg_secondary: #251833;    

  --t_primary: #ffffff;       
  --t_secondary: #ffffff;     

  --primary: #D6BCFA;       
  --secondary: #9F7AEA;
    --axcend:#9c74b3;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
