@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;

    --primary: #402060;
    --secondary: #8E4EC6;


  --text-primary: #402060;
  --text-secondary: #8E4EC6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --bg:var(--bg);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

  .dark {
    --background: #1a1a1a;
    --foreground: #f5f5f5;
    --bg:#E5E7EB;


    --primary: #ff1f1f;
    --secondary: #f35656;

    --text-primary: #c084fc;
    --text-secondary: #d4d4d8;
  }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
